In [1]:
from datetime import date
from datetime import datetime

In [2]:
def transformacion(fecha_en_crudo):#dd/mm/aaaa --:--
    dia=fecha_en_crudo[:2]
    mes=fecha_en_crudo[3:5]
    año=fecha_en_crudo[6:10]
    hora=fecha_en_crudo[11:13]
    minuto=fecha_en_crudo[14:16]
    return int(dia),int(mes),int(año),int(hora),int(minuto)

In [23]:
def fecha(año,mes,dia,hora,minuto):#HAY QUE CAMBIAR PARA QUE SE META DIRECTAMENTE
    new_date = datetime(año, mes,dia,hora,minuto)
    print("Desglose de la fecha", new_date,":")
    tupla_mensajes = ("Año")
    tupla_valores = datetime.isocalendar(new_date)
    print(tupla_valores)
    tupla_diassem = ("Domingo","Lunes", "Martes", "Miércoles", "Jueves","Viernes", "Sábado")
    print("Día de semana-->", tupla_diassem[tupla_valores[2]])
    return año,mes,tupla_diassem.index(tupla_diassem[tupla_valores[2]])+1,hora,minuto

In [36]:
dia,mes,año,hora,minuto=transformacion('18/10/2021 12:51')
fecha(año,mes,dia,hora,minuto)

Desglose de la fecha 2021-10-18 12:51:00 :
(2021, 42, 1)

(2021, 10, 2, 12, 51)

In [30]:
tupla_diassem

NameError: name 'tupla_diassem' is not defined

In [37]:
def fecha_2(año,mes,dia,hora,minuto):#HAY QUE CAMBIAR PARA QUE SE META DIRECTAMENTE
    new_date = datetime(año, mes,dia,hora,minuto)
    print("Desglose de la fecha", new_date,":")
    tupla_mensajes = ("Año")
    tupla_valores = datetime.isocalendar(new_date)
    print(tupla_valores)
    tupla_diassem = ("Domingo","Lunes", "Martes", "Miércoles", "Jueves","Viernes", "Sábado")
    print("Día de semana-->", tupla_diassem[tupla_valores[2]])
    return año,mes,tupla_valores[2]+1,hora,minuto

In [38]:
dia,mes,año,hora,minuto=transformacion('18/10/2021 12:51')
fecha(año,mes,dia,hora,minuto)

Desglose de la fecha 2021-10-18 12:51:00 :
(2021, 42, 1)

(2021, 10, 2, 12, 51)

In [1]:
import pandas as pd 
import numpy as np

In [4]:
a = [ 0,  0,  0,  0,  7, 10, 10,  6,  1]

In [5]:
arra = np.array(a)

In [7]:
print(arra)

[ 0  0  0  0  7 10 10  6  1]

In [8]:
arra.shape

(9,)

In [23]:
arra_r = arra.reshape(1, -1)

In [24]:
arra_r

array([[ 0,  0,  0,  0,  7, 10, 10,  6,  1]])

In [13]:
   columns_df = ['Scholarship', 'Hipertension', 'Alcoholism', 'SMS_received',
            'WaitingDays', 'Appointment_month', 'ScheduledDay_month',
            'ScheduledDay_Hour', 'Gender_index']

In [25]:
x_predict = pd.DataFrame(arra_r,columns = columns_df )
x_predict

,Scholarship,Hipertension,Alcoholism,SMS_received,WaitingDays,Appointment_month,ScheduledDay_month,ScheduledDay_Hour,Gender_index
0,0,0,0,0,7,10,10,6,1